<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622851109037-rvaq4kl9j0gvjb7svbo7kjthu4u1lt2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622851109037-rvaq4kl9j0gvjb7svbo7kjthu4u1lt2f</string>
	<key>API_KEY</key>
	<string>AIzaSyAUkAJ0E5qeTiSYO3Ud2xAZWXYyaUP9I4o</string>
	<key>GCM_SENDER_ID</key>
	<string>622851109037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeBalanceFlutter</string>
	<key>PROJECT_ID</key>
	<string>home-balance-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>home-balance-flutter.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622851109037:ios:622c8929ce168aebadd624</string>
</dict>
</plist>